h3 {
    color: blue;
}

h1 {
    text-align: center;
    color: lightgreen; 
}

p {
    color: red;
}

#main-content {
    border: thick solid black;
    border-radius: 15px;
    background-color: gray;
    margin: 5px;
    
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.statement1{
    border: thick solid black;
    border-radius: 15px;
    background-color: lightgray;   
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 33%;
}

.statement2{
    border: thick solid black;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 33%;
}

.statement3{
    border: thick solid black;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 33%;
}
